.log {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: 
    url("https://images.pexels.com/photos/3704611/pexels-photo-3704611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
}
.smlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 500px;
  height: 400px;
  margin: 100px 0px 0px 400px;
}
.userlog {
  background-color: rgba(20, 19, 19, 0.4);
  margin-top: 10px;
}
.pwdlog {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}
.userlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -270px;
  margin-left: -500px;
  width: 20px;
  
}

.logspan {
  margin-top: -10px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: "poppins", sans-serif;
}
.userlogo {
}
.smlog > input {
  width: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  margin-top:20px;
}
.logbtn{
    margin-top: 50px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
   color: rgb(245, 236, 236);
   background-color: teal;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 18px;

}
.smlog > ::placeholder{
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
    color: rgb(172, 166, 166);
}
.reg{
    margin-top: 10px;
    font-style: "poppins";
    font-weight: 300;
    font-size: 14px;
}
.signbtn{
    border: none;
    background-color: transparent;
    font-style: "poppins";
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    padding:0px 10px ;
    cursor: pointer;
}
